{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 7, "knowledge_revision": 12, "git_revision": "e8f9f0f7f3de77c90d42558740f2ee4562570fa0", "hash": "1d666af380b83b2c5033b860e3cfc119", "format-version": 4, "code-base-name": "training_backend", "filename": "training_backend/requirements.txt", "revision_history": [{"12": "e8f9f0f7f3de77c90d42558740f2ee4562570fa0"}]}